*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #0e0e0e;
  --second--color: #ffff;
  --text-color: #dadada;
  --active: rgb(43, 104, 247);
}
html,
body{
  height: 100%;
  width: 100%;
}
body{
  font-family: 'inter',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
#main{
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  overflow: hidden;
}

/***** predefined class *****/
.active{
  background-color: var(--active);
}
.rect-box{
  position: absolute;
  background: var(--second--color);
}
.selected{
  border: 3px solid var(--active);
}
/***** End predefined class *****/


/***** Navbar *****/
.bottom-nav{
  background: rgba(32, 32, 32, 0.652);
  backdrop-filter: blur(5px);
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
  padding: .3rem .6rem;
  width: fit-content;
  border-radius: .5rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    li{
      padding: .1rem;
      border-radius: .2rem;
      img{
      width: 100%;
      }
    }
  }
}
 /***** End Navbar *****/



